{% extends 'layout.twig' %}

{% block body %}
  <div class="container text-center">

    <div class="jumbotron">
      <p class="lead">Hello, Welcome to my Login Logout app. Please login in <a href="/users/login">here</a></p>
    </div>

    <br />

  </div>
{% endblock %}
